@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Urbanist", sans-serif;
    background-color: #1A1A1A;
}
.container{
    max-width: 85%;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
header{
    height: 155px;
}
.banner{
    background-image: url('/images/Abstract\ Design.png');
    background-position: center;
    background-size: cover;
    height: 50px;
    padding: 1.125rem;
    position: relative;
}
.b-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}
.b-details a ,p{
    font-size: 0.9rem;
    color: #FFFFFF;
}
.b-details a:hover{
    color: #703BF7;
}
.close-btn{
    width: 25px;
    height: 25px;
    border-radius: 75px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: 1rem;
    bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    cursor: pointer;
}
.close-btn:hover{
    background-color: #703BF7;
}
/* nav-bar section */
.head{
    position: relative;
}
.hamburger-sign{
    display: none;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}
.menu .logo{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.menu .logo img{
    width: 45px;
    height: 45px;
}
.menu .logo h2{
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
}
.menu nav ul{
    display: flex;
    align-items: center;
    gap: 1.5625rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.9rem;
    transition: color 0.4ms ease-in-out;
}
nav ul li .home{
    background-color: #141414;
    padding: 10px 20px;
    border-radius: 8px;
}
nav ul li a:hover{
    color: #8254F8;
}
.menu button{
    border: none;
    background-color: #141414;
    padding: 12px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
}
.menu button:hover{
    background-color: #8254F8;
    opacity: 0.7;
    color: #141414;
}
.mobile-menu {
    display: none;
}
/* hero section */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0rem;
}
.left{
    width: 55%;
    padding: 20px;
}
.left-details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 20px;
}
.left-details .left-descriptions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.left-descriptions h1{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
}
.left-descriptions p{
    color: #999999;
    font-size: 0.9rem;
}
.left-details .sub-hero{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* width: 100%; */
}
.sub-hero .path{
    padding: 10px 20px;
    background-color: #1A1A1A;
    box-shadow: 0px 0px 6px  rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #FFFFFF;
}
.path h3{
    font-size: 1.5rem;
}
.path span{
    color: #999999;
    font-size: 0.7rem;
}

.right{
    width: 45%;
}
.right img{
    border-radius: 12px;
    box-shadow: 0px 0px 6px  rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}

/* Our Value section */
.ourvalue{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0rem;
}
.left-value{
    width: 60%;
}
.left-value .left-value-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 20px;
}
.left-value-details h2{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
}
.left-value-details p{
    color: #999999;
    font-size: 0.9;
}
.right-value{
    box-shadow: 0px 0px 6px  rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(256.91, 92%, 60%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.18, 0%, 8%) 0, transparent 55%);
}

.value{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 12px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.value .head-value{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.head-value img{
    width: 40px;
}
.head-value h4{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1rem;
}
.value p{
    color: #999999;
    font-size: 0.8rem;
}

/* Our Achievements Section */
.our-achievement{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.upper-acheiv{
    padding-left: 20px;
}
.upper-acheiv h2{
     color: #FFFFFF;
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
.upper-acheiv p{
    color: #999999;
    font-size: 0.9;
}

.bottom-acheiv{
    display: flex;
    align-items: center;
    gap: 2.2rem;
    padding: 20px;
}
.acheivement{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 0px 6px  rgba(255, 255, 255, 0.1);
    padding: 20px;
}
.acheivement h3{
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom: 1rem;
    font-size: 1.225rem;
}
.acheivement p{
    color: #999999;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
/* * Our Achievements Section */ 
.Navigating{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.upper-navigate{
    padding-left: 20px;
}
.upper-navigate h2{
     color: #FFFFFF;
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
.upper-navigate p{
    color: #999999;
    font-size: 0.9;
}

.bottom-navigate{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
    padding: 20px;
    background-color: #111927;
    background: 
        radial-gradient(at 47% 33%, hsl(256.91, 92%, 60%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.18, 0%, 8%) 0, transparent 55%);
}
.navigate-steps{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 0px 6px  rgba(255, 255, 255, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    position: relative;
}
.count-steps{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 0.7rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.navigate-steps h3{
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom: 0.8rem;
    font-size: 1rem;
}
.navigate-steps p{
    color: #999999;
    font-size: 0.8rem;
    line-height: 1.3rem;
}


/* Meet the Hayle Team */
.meet-team{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-block: 3rem;
}
.meet-team .meet-head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.meet-head h2{
    font-weight: 600;
    color: #FFFFFF;
    font-size: 2rem;
}
.meet-head p{
    color: #999999;
}

.team{
    display: flex;
    align-items: center;
    gap: 1.875rem;
}
.team-box{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.875rem;
    background-color: #141414;
    border-radius: 10px;
    box-shadow: 0px 0px 6px -1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: relative;
}
.meat-member-details{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.meat-member-details .name-role{
    text-align: center;
}
.name-role h2{
    font-weight: 500;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.name-role p{
    color: #999999;
    font-size: 0.7rem;
}
.chat-met-member{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
}
.chat-met-member input{
    width: 100%;
    padding: 0.6rem 1rem;
    outline: none;
    border: none;
    background-color: #1A1A1A;
    border-radius: 10px;
    color: #FFFFFF;
}
.chat-met-member i{
    position: absolute;
    top: 9px;
    right: 10px;
    color: #703BF7;
    cursor: pointer;
}
.chat-met-member i:hover{
    color: #FFFFFF;
}

/* Our Valued Clients */
.Our-valued-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}
.head-valued-section .head-valued-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 20px;
}
.head-valued-details h2{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
}
.head-valued-details p{
    color: #999999;
    padding-right: 20px;
}

.valueds{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.value-box{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: 0px 0px 6px -1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 50%;
    gap: 2rem;
}
.head-value-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-value-box .h-value-box-inside p{
    color: #999999;
    padding-bottom: 0.4rem;
}
.head-value-box .h-value-box-inside h3{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
} 

.head-value-box button{
    border: none;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 6px -1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 12px 20px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
}
.head-value-box button:hover{
    background-color: #8254F8;
    transition: background-color 0.3s ease-in-out;
    opacity: 0.8;
}

.middle-value-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle-value-box .left-v-details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.left-v-details .left-v-details-icon-span{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.left-v-details p{
    font-size: 0.8rem;
}
.left-v-details-icon-span span{
    color: #999999;
    font-size: 0.7rem;
}
.left-v-details-icon-span img{
    width: 20px;
}
.middle-value-box .right-v-details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.right-v-details .right-v-details-icon-span{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.right-v-details-icon-span img{
    width: 20px;
}
.right-v-details p{
    font-size: 0.8rem;
}
.right-v-details-icon-span span{
    color: #999999;
    font-size: 0.7rem;
}

.what-they-said-sec{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    box-shadow: 0px 0px 6px -1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    padding: 20px;
}
.what-they-said-sec span{
    color: #999999;
    font-size: 0.8rem;
}
.what-they-said-sec p{
    color: #FFFFFF;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.valued-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 0px 6px -1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
}
.valued-count .left-count p{
    color: #999999;
}
.valued-count .left-count p span{
    color: #FFFFFF;
}
.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    background-color: #1A1A1A;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.1);
}
.arrow:hover{
    background-color: #703BF7;
    opacity: 0.8;
}
.arrow img{
    cursor: pointer;
    width: 15px;
}
.arrows-count-m-device{
    display: none;
}


/* start your jorney section */
.start-jorney{
    /* background-color: #1119285e; */
    margin: 3rem 0rem;
}
.journey-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
}
.journey-heads h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.journey-heads p{
    width: 850px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-wrap: wrap;
    color: #999999;
}
.journey-btn button{
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    background-color: #1A1A1A;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.1);
    padding: 12px 24px;
    color: #FFFFFF;
}
.journey-btn button:hover{
    background-color: #703BF7;
    opacity: 0.8;
}

/* Footer Section */
footer{
    background-color: #141414;
    padding: 40px 0px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    /* gap: 3rem; */
}
.f-logo-and-chat{
    display: flex;
    flex-direction: column;
    gap: 1.825rem;
}
.f-logo-and-chat .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.f-logo-and-chat .logo img{
    width: 40px;
}
.f-logo-and-chat .logo h3{
    font-size: 1.3rem;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

.f-chat{
    width: 280px;
    height: 12px;
    position: relative;
}
.f-chat input{
    width: 100%;
    padding: 12px 40px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #1A1A1A;
    border-radius: 10px;
    outline: none;
    color: #FFFFFF;
    font-size: 1rem;    
}
.f-chat .sent-icon{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #FFFFFF;
    cursor: pointer;
    
}
.f-chat .email-icon{
    position: absolute;
    left: 13px;
    top: 14px;
    color: #999999;
    cursor: pointer;
}


/* footer links */
.footer-links{
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem;
}
.footer-links .f-link{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1rem;
}
.f-link span{
    color: #999999;
    font-size: 1.1rem;
}
.f-link a{
    text-decoration: none;
    color: #FFFFFF;
}
.f-link a:hover{
    color: #703BF7;
    text-decoration: underline;
    transition: 0.4s ease-in-out;
}

/* social icons */
.social-icons-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
}
.copyright-section{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.copyright-section a{
    color: #FFFFFF;
    text-decoration: none;
}
.copyright-section a:hover{
    color: #703BF7;
    text-decoration: underline;
}

.social-media-icons{
    display: flex;
    align-items: center;
    gap: 0.85rem;
}
.social-media-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #141414;
}
.social-media-icon:hover{
    background-color: #703BF7;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.social-media-icon i{
    color: #FFFFFF;
    cursor: pointer;
}




/* responsive design */
/* tablets and laptops */
@media only screen and (min-width : 768px) and (max-width : 1024px){
    .container{
        max-width: 95%;
    }
    .menu{
        padding-block: 1rem;
    }
    nav ul li a{
        font-size: 14px;
    }
    nav ul li .home{
        font-size: 10px;
    }
    .menu button{
        /* padding: 12px 20px; */
        font-size: 10px;
    }
    .menu .logo img{
        width: 30px;
        height: 30px;
    }
    .menu .logo h2{
        font-size: 0.9rem;
    }
    .sub-hero .path{
        padding: 10px;
    }
    .path h3{
        font-size: 1.1rem;
    }
    .path span{
        color: #999999;
        font-size: 0.5rem;
    }
    .acheivement{
        padding: 10px;
    }
    .upper-acheiv, .bottom-acheiv{
        padding-left: 10px;
    }
    .meet-head h2{
        font-size: 2rem;
    }
    .team{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .value-box{
        padding: 30px;
    }
    .journey-section{
        flex-direction: column;
        padding: 20px 40px;
        text-align: center;
    }
    .journey-heads p{
        width: 100%;
    }
    .footer-section{
        flex-direction: column;
        gap: 4rem;
        padding: 10px;
    }


}

/* mobile devices */
@media only screen and (min-width : 150px) and (max-width : 767px) {
    .container{
        max-width: 95%;
    }
    .b-details p, a{
        font-size: 0.6rem;
    }
    .b-details a{
        font-size: 0.6rem;
    }
    .hamburger-sign{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 50px;
        height: 50px;
        /* background-color: #141414; */
        color: #FFFFFF;
        position: absolute;
        z-index: 11111;
        right: 3%;
        top: 1.1rem;
    }
    .hamburger-sign i{
        font-size: 1.5rem;
    }
    .hamburger-sign i[data-visible="true"]{
        display: block;
    }
    .hamburger-sign i[data-visible="false"]{
        display: none;
    }
    .menu-links, .contact-btn{
       display: none;
    }
    .menu{
        margin: 0;
    }
    .mobile-menu{
        display: flex;
    }
    .mobile-menu ul{
        flex-direction: column;
        justify-content: center;
        inset: 0 0 0 0;
        background-color: #141414;
        z-index: 1111;
        position: fixed;
        top: 8rem;
        transform: translateX(100%);
        transition: 0.4ms ease-in-out;
    }
    .mobile-menu ul[data-visible="true"]{
        transform: translateX(0%);
    }

    .hero{
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
    .left, .right{
        width: 100%;
    }
    .left-details .sub-hero{
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    .sub-hero .path3{
        grid-column: 1 / span 2;
        text-align: center;
    }
    .ourvalue{
        flex-direction: column;

    }
    .left-value{
        width: 100%;
    }
    .right-value{
        grid-template-columns: repeat(1, 2fr);
        gap: 1rem;
    }
    .value{
        padding: 20px;
        font-size: 1rem;
    }
    .head-value img{
        width: 50px;
    }
    .bottom-acheiv{
       flex-direction: column;
    }
     .upper-acheiv, .bottom-acheiv{
        padding-left: 10px;
    }
    .bottom-navigate{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    .team{
        flex-direction: column;
    }
    .meet-head h2{
        font-size: 2rem;
    }
    .valueds{
        flex-direction: column;
        gap: 1rem;
    }
    .value-box{
        padding: 30px;
        width: 100%;
    }
    .arrows{
        display: none;
    }
    .arrows-count-m-device{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .left-count{
        display: none;
    }
    .journey-section{
        flex-direction: column;
        /* padding: 20px 0px; */
    }
    .journey-heads p{
        width: 100%;
    }
    .footer-section{
        flex-direction: column;
        /* align-items: center; */
        padding: 10px;
        gap: 4rem;
    }
    .f-chat{
        width: 100%;
    }
    .footer-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* padding-left: 20px; */
    }
    .social-icons-footer{
        flex-direction: column;
        gap: 1rem;
    }

   
}
